:root{
--transition-fast:all .15s ease-in-out; /* @kind other */
--transition-normal:all .25s ease-in-out; /* @kind other */
--duration-fast:150ms; /* @kind other */
--duration-normal:250ms; /* @kind other */
--duration-slow:300ms; /* @kind other */
--duration-image:500ms; /* @kind other */
--ease-standard:ease-in-out; /* @kind other */
--ease-out:ease-out; /* @kind other */
}
